Importing Necessary Libraries

In [264]:
import pandas as pd
import seaborn as sns

Reading the Dataset

In [232]:
df = pd.read_csv('C:/Users/MSI/Downloads/fifa21 raw data v2.csv')

C:\Users\MSI\AppData\Local\Temp\ipykernel_14108\1254346425.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/MSI/Downloads/fifa21 raw data v2.csv')

Displaying Data

In [233]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

Dropping unnecessary columns.

In [234]:
drop = ['photoUrl','playerUrl','Loan Date End']
df = df.drop(columns= drop)

Renaming some columns for consistency.

In [235]:
df = df.rename(columns={'↓OVA':'OVA'})

Displaying the Types of Every Variable

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   OVA               18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height            18979 non-null  object
 11  Weight            18979 non-null  object
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  object
 16  Value             18979 non-null  object
 17  Wage              18979 non-null  object
 18  Release Clause    18979 non-null  object
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F               18979 non-null  object
 63  SM                18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR                18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              16384 non-null  object
dtypes: int64(54), object(20)
memory usage: 10.7+ MB

As we can see, the variables (Height, Weight) are both object types despite being numerical numbers. We need to change the type of both of these variables into "int" type. We also need to convert other values in order to have uniform measurements.

In [237]:
height = []

for i in df["Height"]:
    if i.endswith("cm") == True:
        i = i.replace('cm','')
        height.append(i)
    else:
        i = i.replace("\'", " ").replace("\"", "").split()
        a = int(i[0])*12 + int(i[1])
        cm = round(a*2.54)
        height.append(cm)

Renaming the height column with proper unit.

In [238]:
df["Height"] = height
df.rename(columns={'Height': 'Height in cm'}, inplace=True)

Changing the data type of the height column.

In [239]:
df = df.astype({'Height in cm':'int64'})

Changing weight in lbs into weight in kg.

In [240]:
weight = []

for i in df["Weight"]:
    if i.endswith("lbs") == True:
        i = i.replace('lbs','')
        a = round(int(i)*.453592)
        weight.append(a)
    else:
        i = i.replace('kg','')
        weight.append(i)

Renaming weight column with proper unit.

In [241]:
df["Weight"] = weight
df.rename(columns={'Weight':'Weight in kg'}, inplace=True)

Changing the data type of the weight column.

In [242]:
df = df.astype({'Weight in kg':'int64'})

Displaying the data types.

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Age               18979 non-null  int64
 5   OVA               18979 non-null  int64
 6   POT               18979 non-null  int64
 7   Club              18979 non-null  object
 8   Contract          18979 non-null  object
 9   Positions         18979 non-null  object
 10  Height in cm      18979 non-null  int64
 11  Weight in kg      18979 non-null  int64
 12  Preferred Foot    18979 non-null  object
 13  BOV               18979 non-null  int64
 14  Best Position     18979 non-null  object
 15  Joined            18979 non-null  object
 16  Value             18979 non-null  object
 17  Wage              18979 non-null  object
 18  Release Clause    18979 non-null  object
 19  Attacking         18979 non-null  int64
 20  Crossing          18979 non-null  int64
 21  Finishing         18979 non-null  int64
 22  Heading Accuracy  18979 non-null  int64
 23  Short Passing     18979 non-null  int64
 24  Volleys           18979 non-null  int64
 25  Skill             18979 non-null  int64
 26  Dribbling         18979 non-null  int64
 27  Curve             18979 non-null  int64
 28  FK Accuracy       18979 non-null  int64
 29  Long Passing      18979 non-null  int64
 30  Ball Control      18979 non-null  int64
 31  Movement          18979 non-null  int64
 32  Acceleration      18979 non-null  int64
 33  Sprint Speed      18979 non-null  int64
 34  Agility           18979 non-null  int64
 35  Reactions         18979 non-null  int64
 36  Balance           18979 non-null  int64
 37  Power             18979 non-null  int64
 38  Shot Power        18979 non-null  int64
 39  Jumping           18979 non-null  int64
 40  Stamina           18979 non-null  int64
 41  Strength          18979 non-null  int64
 42  Long Shots        18979 non-null  int64
 43  Mentality         18979 non-null  int64
 44  Aggression        18979 non-null  int64
 45  Interceptions     18979 non-null  int64
 46  Positioning       18979 non-null  int64
 47  Vision            18979 non-null  int64
 48  Penalties         18979 non-null  int64
 49  Composure         18979 non-null  int64
 50  Defending         18979 non-null  int64
 51  Marking           18979 non-null  int64
 52  Standing Tackle   18979 non-null  int64
 53  Sliding Tackle    18979 non-null  int64
 54  Goalkeeping       18979 non-null  int64
 55  GK Diving         18979 non-null  int64
 56  GK Handling       18979 non-null  int64
 57  GK Kicking        18979 non-null  int64
 58  GK Positioning    18979 non-null  int64
 59  GK Reflexes       18979 non-null  int64
 60  Total Stats       18979 non-null  int64
 61  Base Stats        18979 non-null  int64
 62  W/F               18979 non-null  object
 63  SM                18979 non-null  object
 64  A/W               18979 non-null  object
 65  D/W               18979 non-null  object
 66  IR                18979 non-null  object
 67  PAC               18979 non-null  int64
 68  SHO               18979 non-null  int64
 69  PAS               18979 non-null  int64
 70  DRI               18979 non-null  int64
 71  DEF               18979 non-null  int64
 72  PHY               18979 non-null  int64
 73  Hits              16384 non-null  object
dtypes: int64(56), object(18)
memory usage: 10.7+ MB

Both weight and height columns are now in their appropriate data types.

Next column to be cleaned is "Club". There are some unnecessary newline characters that we need to omit.

In [244]:
df['Club'] = df['Club'].str.replace('\n\n\n\n','')

In [245]:
df.head()

,ID,Name,LongName,Nationality,Age,OVA,POT,Club,Contract,Positions,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",...,High,Medium,5 ★,91,85,86,94,36,59,595

Splitting the Joined column into Year, Month and Day columns.

In [246]:
Joined = []
for i in df['Joined']:
    i = i.replace("-"," ").split()
    Joined.append(i)

In [247]:
Day = []
Month = []
Year = []
for i in Joined:
    a = i[0]
    b = i[1]
    c = i[2]
    Day.append(a)
    Month.append(b)
    Year.append(c)

In [248]:
df['Day of Joining'] = Day
df['Month of Joining'] = Month
df['Year of Joining'] = Year

In [249]:
df.head()

,ID,Name,LongName,Nationality,Age,OVA,POT,Club,Contract,Positions,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Day of Joining,Month of Joining,Year of Joining
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",...,85,92,91,95,38,65,771,1,Jul,04
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",...,89,93,81,89,35,77,562,10,Jul,18
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,...,87,92,78,90,52,90,150,16,Jul,14
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",...,76,86,93,88,64,78,207,30,Aug,15
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",...,91,85,86,94,36,59,595,3,Aug,17

Dropping Joined column.

In [250]:
df = df.drop(['Joined'], axis=1)

Changing the Value, Wage and Release columns into integers.

In [251]:
Value = []
for i in df['Value']:
    if "M" in i:
        a = i.replace("€",'')
        b = a.replace("M",'')
        b = float(b) * 1000000
        Value.append(b)
    elif "K" in i:
        a = i.replace("€",'')
        b = a.replace("K",'')
        b = float(b) * 1000
        Value.append(b)
    else:
        i = i.replace("€",'')
        Value.append(i)

In [252]:
df['Value'] = Value
df.rename(columns={'Value':'Value in €'}, inplace=True)

In [253]:
Wage = []
for i in df['Wage']:
    if "K" in i:
        a = i.replace("€",'')
        b = a.replace("K",'')
        b = float(b) * 1000
        Wage.append(b)
    else:
        i = i.replace("€",'')
        Wage.append(i)

In [254]:
df['Wage'] = Wage
df.rename(columns={'Wage':'Wage in €'}, inplace=True)

In [255]:
Release = []
for i in df['Release Clause']:
    if "M" in i:
        a = i.replace("€",'')
        b = a.replace("M",'')
        b = float(b) * 1000000
        Release.append(b)
    elif "K" in i:
        a = i.replace("€",'')
        b = a.replace("K",'')
        b = float(b) * 1000
        Release.append(b)
    else:
        i = i.replace("€",'')
        Release.append(i)

In [256]:
df['Release Clause'] = Release
df.rename(columns={'Release Clause':'Release Clause in €'}, inplace=True)

Some columns have Star ★ characters in their rows. We also need to omit these characters.

In [257]:
def star(x):
    x = x.replace('★','')
    return x

In [258]:
df['W/F'] = df['W/F'].apply(star)
df['SM'] = df['SM'].apply(star)
df['IR'] = df['IR'].apply(star)

The Hits column has some characters included in its values that needs to be fixed. The column also contain NaN values, we should change this values into 0.

In [259]:
df.Hits = df.Hits.fillna(0)

In [260]:
Hits = []

df['Hits'] = df['Hits'].astype(str)

In [261]:
for i in df['Hits'] :
    if "K" in i:
        i = i.replace('K','')
        a = float(i) * 1000
        Hits.append(a)
    else:
        Hits.append(i)

In [263]:
df['Hits'] = Hits

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 76 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   18979 non-null  int64
 1   Name                 18979 non-null  object
 2   LongName             18979 non-null  object
 3   Nationality          18979 non-null  object
 4   Age                  18979 non-null  int64
 5   OVA                  18979 non-null  int64
 6   POT                  18979 non-null  int64
 7   Club                 18979 non-null  object
 8   Contract             18979 non-null  object
 9   Positions            18979 non-null  object
 10  Height in cm         18979 non-null  int64
 11  Weight in kg         18979 non-null  int64
 12  Preferred Foot       18979 non-null  object
 13  BOV                  18979 non-null  int64
 14  Best Position        18979 non-null  object
 15  Value in €           18979 non-null  int64
 16  Wage in €            18979 non-null  int64
 17  Release Clause in €  18979 non-null  int64
 18  Attacking            18979 non-null  int64
 19  Crossing             18979 non-null  int64
 20  Finishing            18979 non-null  int64
 21  Heading Accuracy     18979 non-null  int64
 22  Short Passing        18979 non-null  int64
 23  Volleys              18979 non-null  int64
 24  Skill                18979 non-null  int64
 25  Dribbling            18979 non-null  int64
 26  Curve                18979 non-null  int64
 27  FK Accuracy          18979 non-null  int64
 28  Long Passing         18979 non-null  int64
 29  Ball Control         18979 non-null  int64
 30  Movement             18979 non-null  int64
 31  Acceleration         18979 non-null  int64
 32  Sprint Speed         18979 non-null  int64
 33  Agility              18979 non-null  int64
 34  Reactions            18979 non-null  int64
 35  Balance              18979 non-null  int64
 36  Power                18979 non-null  int64
 37  Shot Power           18979 non-null  int64
 38  Jumping              18979 non-null  int64
 39  Stamina              18979 non-null  int64
 40  Strength             18979 non-null  int64
 41  Long Shots           18979 non-null  int64
 42  Mentality            18979 non-null  int64
 43  Aggression           18979 non-null  int64
 44  Interceptions        18979 non-null  int64
 45  Positioning          18979 non-null  int64
 46  Vision               18979 non-null  int64
 47  Penalties            18979 non-null  int64
 48  Composure            18979 non-null  int64
 49  Defending            18979 non-null  int64
 50  Marking              18979 non-null  int64
 51  Standing Tackle      18979 non-null  int64
 52  Sliding Tackle       18979 non-null  int64
 53  Goalkeeping          18979 non-null  int64
 54  GK Diving            18979 non-null  int64
 55  GK Handling          18979 non-null  int64
 56  GK Kicking           18979 non-null  int64
 57  GK Positioning       18979 non-null  int64
 58  GK Reflexes          18979 non-null  int64
 59  Total Stats          18979 non-null  int64
 60  Base Stats           18979 non-null  int64
 61  W/F                  18979 non-null  int64
 62  SM                   18979 non-null  int64
 63  A/W                  18979 non-null  object
 64  D/W                  18979 non-null  object
 65  IR                   18979 non-null  int64
 66  PAC                  18979 non-null  int64
 67  SHO                  18979 non-null  int64
 68  PAS                  18979 non-null  int64
 69  DRI                  18979 non-null  int64
 70  DEF                  18979 non-null  int64
 71  PHY                  18979 non-null  int64
 72  Hits                 18979 non-null  object
 73  Day of Joining       18979 non-null  int64
 74  Month of Joining     18979 non-null  object
 75  Year of Joining      18979 non-null  int64
dtypes: int64(64), object(12)
memory usage: 11.0+ MB

As we can see above, there are columns with incorrect data types.

In [288]:
df = df.astype({'Value in €':'int64'})
df = df.astype({'Wage in €' :'int64'})
df = df.astype({'Release Clause in €' :'int64'})
df = df.astype({'Year of Joining' :'int64'})
df = df.astype({'Day of Joining' :'int64'})
df = df.astype({'W/F' :'int64'})
df = df.astype({'SM' :'int64'})
df = df.astype({'IR' :'int64'})

Now, the data is cleaned.

In [290]:
df.head()

,ID,Name,LongName,Nationality,Age,OVA,POT,Club,Contract,Positions,...,PAC,SHO,PAS,DRI,DEF,PHY,Hits,Day of Joining,Month of Joining,Year of Joining
0,158023,L. Messi,Lionel Messi,Argentina,33,93,93,FC Barcelona,2004 ~ 2021,"RW, ST, CF",...,85,92,91,95,38,65,771,1,Jul,4
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,Portugal,35,92,92,Juventus,2018 ~ 2022,"ST, LW",...,89,93,81,89,35,77,562,10,Jul,18
2,200389,J. Oblak,Jan Oblak,Slovenia,27,91,93,Atlético Madrid,2014 ~ 2023,GK,...,87,92,78,90,52,90,150,16,Jul,14
3,192985,K. De Bruyne,Kevin De Bruyne,Belgium,29,91,91,Manchester City,2015 ~ 2023,"CAM, CM",...,76,86,93,88,64,78,207,30,Aug,15
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,Brazil,28,91,91,Paris Saint-Germain,2017 ~ 2022,"LW, CAM",...,91,85,86,94,36,59,595,3,Aug,17